@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary:#FFFBFC;
    --secondary: #275a2a;
    --third:#F3B61F;
    --fourth:#1C0F13;
    --fifth:#606964;
}
body{
    line-height: 1.6;
    background-color: var(--primary);
}
h1{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
    color:var(--secondary)
}
h1 span{
    color: var(--third);
    font-size: 32px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
#search-input{
    width: 30%;
    max-width: 600px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 18px;
    border-color: var(--secondary);
    color: var(--fifth);
}
#search-input:focus {
    outline: none ;
    border:2px solid var(--secondary);

  }


#search-button{
    padding: 10px 20px;
    /* background-color:  #138065; */
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    font-size: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.search-result{
    margin-bottom: 60px;
    width: 30%;
    height: 255px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.search-result img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}
.search-result:hover img{
    opacity: 0.8;
}
.search-result a{
    font-size: 10px;
    text-decoration: none;
    /* color: #333; */
    color: var(--fifth);
    display: block;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
}
#show-more{
    /* background: #008cba; */
    background: var(--fifth);
    font-size: 18px;
    border: none;
    color: var(--primary);
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:768px) {
    .search-results{
        padding: 20px;
    }
    .search-result{
        width: 45%;
    }
    #search-input{
        width: 40%;
    }
}
@media screen and (max-width:480px) {
    .search-result{
        width: 100%;
    }
    #search-input{
        width: 60%;
    }
}